<p>
<label for="settings_num_of_recent_access_projects"><%= h l(:num_of_recent_access_projects) %>:</label>
<%= text_field_tag('settings[num_of_recent_access_projects]', @settings['num_of_recent_access_projects']) %>
</p>

